/* Tehtävä 1*/
#demo{
    font-size: 4rem;
    font-family: 'Bruno Ace SC', cursive;

    background: linear-gradient(to right, white, silver);
    border: solid gray 0.2em;
    border-radius: 1em;
    padding: 0.1em 0.3em;
}
#demotext{
    transform:skewX(20deg);
    display: inline-block;
}

/* Tehtävä 2*/
.pysty{
    width: 0.9em;
    word-break: break-all;
    text-transform: uppercase;

    line-height: 1;
}
a {
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px;
    margin-bottom: 7px;
    background-color: rgb(158, 255, 94);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    transition-property: all;
    transition-duration: 0.5s;
  }
  li:hover {
    background-color: rgb(80, 233, 42);
    font-size: larger;
  }

/* Tehtävä 3*/
p.kasvu{
    transition-property: font-size, text-shadow;
    transition-duration: 5s;
}

/* Tehtävä 4*/
p.liikkuu{
    transition-property: margin-left;
    transition-duration: 5s;
}

/* Tehtävä 5*/
h1.rotate{
    transform: rotate(20deg);
}
h3.scaleY{
    transform: scaleY(4);
}
p.skewX{
    transform: skewX(-40deg);
}
h4.skewY{
    transform: skewY(15deg);
}

/* Tehtävä 7*/
h1.t7{
    font: 3em;
    color: green;
}
.muutos{
    animation-name: kellastu;
    animation-delay: 5s;
    color: yellow;
}

@keyframes kellastu {
    from{
        color: green;
    }
    70%{
        color: orange;
    }
    to{
        color: yellow;
    }
}

/* Tehtävä 8 */
p.varjostus{
    font: 36pt Arial Black;
    background: hsla(38, 100%, 66%, 1);
    text-shadow: -2px 0 #999, 0 2px #999;
}
p.varjostus2{
    -webkit-text-stroke: 2px #999;
    overflow-x: -webkit-marquee;
}
h1.varjostus{
    font: 36pt Arial Black;
    text-decoration: blink;
    -webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transform), to(rgba(255,255,0.8)));
}

/* Tehtävä 9 */
#nayte{
    animation-name: varinvaihto;
    animation-duration: 5s;
    background: red;
}
@keyframes varinvaihto {
    from{
        background: blue;
    }
    to{
        background: red;
    }
}

/* Tehtävä 10 */
h1.hsla{
background: hsla(38, 100%, 66%, 1);
}

body.hsla{
    background: hsla(26, 100%, 61%, 1);
    border-radius: 5px;
    padding: 10%;

    transition-property: all;
    transition-duration: 1s;
}
.mainDiv{
    padding: 1%;
    transition-property: all;
    transition-duration: 1s;
}

.mainPassDiv{
    background: rgb(0, 8, 85);
    border-color: red;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10%;
    transition-property: all;
    transition-duration: 1s;
}

/* Tehtävä 11 */
div{


    transition-property: all;
    transition-duration: 3s;
}
.light{
    opacity: 0.2;;
}
.medium{
    opacity: 0.5;
}
.heavy{
    opacity: 0.9;
}

/* Tehtävä 12 */
h1.green{
    color: green;
}

h1, h2, h3, h4, h5{
    text-align: center;
}

.Center{
    text-align: center;
}
.password{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all;
    transition-duration: 0.3s;
}
.password:hover{
    color: rgb(0, 195, 255);
}

.passButton{
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.8);

    transition: all;
    transition-duration: 0.3s;
}
.passButton:hover{
    color: rgb(51, 255, 0);
    background-color: rgba(255, 140, 140, 0.4);
    border-radius: 5%px;
    border-color: rgba(255, 51, 51, 0.8);
}
.passButton:active{
    color: rgb(255, 0, 221);
    background-color: rgba(255, 44, 44, 0.4);
    border-radius: 5px;
    border-color: rgba(255, 0, 0, 0.8);
}

.border{
    border: 1px solid black;
    border-radius: 10px;
}

#RespoForm {
    color: black;
    background-color: rgba(255, 140, 140, 0.4);
    border: 1px solid black;
    border-width: 5%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: all;
    transition-duration: 3s;
  }
  
  #RespoForm input,
  #RespoForm select,
  #RespoForm textarea {
    display: block;
  }

  #RespoForm:hover{
      background-color: rgb(0, 151, 19);
  }
  #RespoForm:active{
    background-color: rgb(0, 255, 34);
  }

div.bgdiv{
    background: rgb(0, 151, 19);
    padding: 10px;
    text-align: justify;
}

.eka{
    background: rgba(0, 151, 19, 0.1);
}

.toka{
    background: rgba(0, 151, 19, 0.3);
}

.kolmas{
    background: rgba(0, 151, 19, 0.6);
}

/* Tehtävä 13 */
.contain{
    background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
  background-size: contain;
  width: 160px;
  height: 160px;
  border: 2px solid;
  color: black;
  resize: both;
  overflow: scroll;
}

.cover{
    background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
  background-size: cover;
  width: 160px;
  height: 160px;
  border: 2px solid;
  color: black;
  resize: both;
  overflow: scroll;
}

.fullSize{
    background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
    background-size: 300px;
    width: 300px;
    height: 300px;
    border: 2px solid;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
}

/* Tehtävä 14 */
.demoDiv{
    border: 1px solid black;
    background: url(https://2.bp.blogspot.com/-hz9FBgy2f_0/T9p2v8FGXLI/AAAAAAAAAMc/cQN1A_ldxcE/s1600/185px-Finger_for_button.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 15px;
}

/* Tehtävä 15 */
.asettelu{
    margin: 5px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}
.ots{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    width: 25%;
}
.sis{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-flex;
    width: 25%;
}
.oh{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-flex;
    width: 25%;
}

/* NAVIGOINTI, (koodi poistettu html:stä responsiivisen sivun lisäämisen jälkeen) */
#NavOpenCloseButton{
    color: rgba(253, 175, 175, 100);
    border-radius: 15px;
    position: fixed;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 0, 0, 0.7);

    transition: all;
    transition-duration: 0.3s;

}

#NavOpenCloseButton:hover{
    background-color: rgba(221, 71, 71, 0.5);
    color: rgb(0, 0, 0);
}

#NavOpenCloseButton:active{
    background-color: rgba(221, 70, 70, 0.3);
    color: rgb(212, 187, 41);
}

.NavMenu{
    position: absolute;
    display:none;
    background-color: rgba(255, 74, 74, 0.7);
    width: fit-content;
    margin: 0;
    padding: 0;
    z-index: 9999;
    left: 5%;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    
    transition: all;
    transition-duration: 0.3s;
}

ul{
    list-style: none;
    padding-right: 5px;
}



/* HARKAT 1 */
blockquote{
    display: flex;
    justify-content: center;
}
cite{
    display: flex;
    justify-content: center;
}
em{
    display: flex;
    justify-content: center;
}
code{
    background: rgb(160, 160, 160);
    border-style: groove;
    border-color: rgb(163, 163, 163);
    border-width: 2px;
}
.ympyrä {
    width: 4em;
    height: 3en;
    background: red;
    border-radius: 1em 0.3em;
    display: table-cell;
    text-align: center;

    display: flex;
    justify-content: center;

}

#main{
    border-style: groove;
    border-color: black;
}
.article {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}
.innerGrid {
    margin: 2px;
    border: 1px solid rgb(208, 255, 99);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}

/* HARKAT 2*/
blockquote{
    display: flex;
    justify-content: center;
}
cite{
    display: flex;
    justify-content: center;
}
em{
    display: flex;
    justify-content: center;
}
code{
    background: rgb(160, 160, 160);
    border-style:groove;
    border-color: rgb(163, 163, 163);
    border-width: 2px;
}
.ympyrä {
    width: 4em;
    height: 3en;
    background: red;
    border-radius: 1em 0.3em;
    display: table-cell;
    text-align: center;

}
p{
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
}

h2{
    border-bottom: cyan;
}
#main{
    border-style: groove;
    border-color: black;
}
hr{
    border-color: black;
}

.hr{
    height: 2px;
    background-color: black;
    margin: 10px;
    border:none;
}

/* HR */
hr{
    border-radius: 4px;
    border: black;
    border-style: groove;
}

li{
    color: black;
}

body{
    background-color: rgb(90, 90, 90);
    transition-property: all;
    transition-duration: 1s;
}

.flexbox-up-down-container{
    margin: 5px;
    display: flex;
    text-align: center;
}
.flexbox-left-right-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.topAlways{
    z-index: 9999;
    position: fixed;
}

/* Itemit */
.flex-left-right-item {
    background-color: #c7b7b7;
    border: 1px solid #444444;
    border-radius: 10px;
    width: 15%; /* adjust the width of each item */
}

.flex-middle-item { /* Iso  Keskihommma*/
    background-color: #acacac;
    border: 1px solid #444444;
    border-radius: 10px;
    width: 100%;
}

.flex-up-down-item{
    background-color: #8d8d8d;
    border: 1px solid #000000;
    width: 100%;
    border-radius: 10px;
}

/* Keski Itemit */
.left-right-item-left{
    margin: 5px;
}
.left-right-item-middle{
    margin: 5px;
}
.left-right-item-right{
    margin: 5px;
}

/* Tekstit */
.textCenter{
    margin: 10px;
    font-size: large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.textCenterBIG{
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.textCenterTitle{
    font-weight: bold;
    margin: 10px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
.textLeft{ 
    margin: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: left;
}
.textRight{
    margin: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: right;
}